@using AspNetCoreHero.Boilerplate.Web.Views.Shared.Components.Header;
@using AspNetCoreHero.Boilerplate.Web.Views.Shared.Components.Footer;
@using AspNetCoreHero.Boilerplate.Web.Views.Shared.Components.NavigationBar;
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zxx">
<!-- Mirrored from cyclonethemes.com/demo/html/blogmag/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 13 Apr 2020 02:53:25 GMT -->
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>BlogMag - A Complete blog & magazine HTML Template</title>
    <partial name="_Styles" />
</head>
<body>
    <div class="loader" style="display:none;">
        <img src="~/images/Eclipse.gif" class="iconLoading"/>
    </div>
    <!-- Header -->
    @(await Component.InvokeAsync<HeaderViewComponent>())
    <!-- Header Ends -->
    <!-- Navigation Bar -->
    @(await Component.InvokeAsync<NavigationBarViewComponent>())
    <!-- Navigation Bar Ends -->
    @RenderBody()

    <!-- Footer -->
    @(await Component.InvokeAsync<FooterViewComponent>())
    <!-- Footer Ends -->
    <!-- back to top start -->
    <div id="back-to-top">
        <a href="#"></a>
    </div>

    <partial name="_Scripts" />
    @RenderSection("Scripts", required: false)
</body>
</html>