@using AspNetCoreHero.Boilerplate.Web.Views.Shared.Components.Sidebar;
@using AspNetCoreHero.Boilerplate.Web.Models
@using AspNetCoreHero.Boilerplate.Web.Views.Shared.Components.Breadcrumb;
@using AspNetCoreHero.Boilerplate.Web.Views.Shared.Components.RelatedArticle;
@model ArticleViewModel
@{
    Layout = "_Layout";
}

@(await Component.InvokeAsync<BreadcrumbViewComponent>(new { parentId = Model.CategoryId, isArticle =true}))
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="cover-content">
                    <h1>@Model?.Title</h1>

                    <div class="article__meta">
                        <a class="source" href="@Model.SourceLink" target="_blank">
                            <img class="image" src="@Model.SourceImage" alt="@Model.SourceName">
                        </a>
                        <time> @Model?.PostedDatetimeString </time>
                        <a><i class="icon-chat"></i> @Model?.CommentCount </a>
                    </div>
                    @*  @(await Component.InvokeAsync<BreadcumbViewComponent>(Model.CategoryId))*@
                </div>
            </div>
        </div>
    </div>
</section>

<section class="item-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <div class="item-wrapper">

                    <div class="item-detail">
                        <p class="body-text description">
                            @Model?.FullDescription
                        </p>
                        @Html.Raw(Model?.Content)
                    </div>

                    @*<div class="bot-source">
                        <a href="@Model.SourceLink" target="_blank"><span class="name">Nguồn @Model.SourceName:</span><span class="source"> @Model.SourceLink</span> </a>
                    </div>*@
                    <div class="share-buttons">
                        <div class="row">
                            <div class="col-md-4">
                                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=@Url.PageLink()" class="btn-large btn-facebook"><i class="fa fa-facebook" aria-hidden="true"></i> Chia sẻ Facebook</a>
                            </div>
                            <div class="col-md-4">
                                <p> <span>@Model.ViewCount</span> View</p>
                            </div>
                            <div class="col-md-4">
                                <div class="zalo-share-button" data-href="" data-oaid="579745863508352884" data-layout="1" data-color="blue" data-customize=false></div>
                            </div>
                        </div>
                    </div>
                    <div class="item-tags">
                        @foreach (var item in Model.Tags.Split(','))
                        {
                            <a href="#" class="tag-blue tag">#@item</a>
                        }
                    </div>


                    @*@await Html.PartialAsync("~/Views/Partials/_Partial_CommentBox.cshtml")
                        @await Html.PartialAsync("~/Views/Partials/_Partial_CommentForm.cshtml")*@
                </div>

                @(await Component.InvokeAsync<RelatedArticleViewComponent>(Model))
            </div>
            <div class="col-md-4 col-sm-12">
                @(await Component.InvokeAsync<SidebarViewComponent>())
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <partial name="_ShareFacebook" />
    <partial name="_ShareZalo" />
}
