@using AspNetCoreHero.Boilerplate.Web.Models
@model IEnumerable<ArticleViewModel>
@{ 
    Layout = "_Layout";
}
<!-- Blog Content -->
<section class="blog-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <!-- Banner -->
                <div id="home_banner_blog">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="slide-inner slide-overlay" style="background-image:url(images/slider/slider1.jpg)">
                                    <div class="home_banner_text">
                                        <div class="banner-tag">
                                            <a href="#" class="tag tag-blue">#New</a>
                                            <a href="#" class="tag tag-gold">#Health</a>
                                        </div>
                                        <h2><a href="detail.html">Discover your true health</a></h2>
                                        <div class="author-detail">
                                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                                            <p><i class="icon-clock"></i> 12 May</p>
                                            <p><a href="#"><i class="icon-chat"></i> 5 comments</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="slide-inner slide-overlay" style="background-image:url(images/slider/slider2.jpg)">
                                    <div class="home_banner_text">
                                        <div class="banner-tag">
                                            <a href="#" class="tag tag-blue">#New</a>
                                            <a href="#" class="tag tag-gold">#Health</a>
                                        </div>
                                        <h2><a href="detail.html">Discover your true health</a></h2>
                                        <div class="author-detail">
                                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                                            <p><i class="icon-clock"></i> 12 May</p>
                                            <p><a href="#"><i class="icon-chat"></i> 5 comments</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="slide-inner slide-overlay" style="background-image:url(images/slider/slider3.jpg)">
                                    <div class="home_banner_text">
                                        <div class="banner-tag">
                                            <a href="#" class="tag tag-blue">#New</a>
                                            <a href="#" class="tag tag-gold">#Health</a>
                                        </div>
                                        <h2><a href="detail.html">Discover your true health</a></h2>
                                        <div class="author-detail">
                                            <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                                            <p><i class="icon-clock"></i> 12 May</p>
                                            <p><a href="#"><i class="icon-chat"></i> 5 comments</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next swiper-button-white"></div>
                        <div class="swiper-button-prev swiper-button-white"></div>
                    </div>
                </div>
                <!-- Banner Ends -->
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        var slugReplace = string.Format("/{0}/{1}-{2}",item.ArticleCategory.Slug, item.Slug, item.Id);
                        <div class="blog-post">
                            <div class="post-outer">
                                <div class="row">
                                    @if (@item.ThumbImage == null)
                                    {
                                        <div class="col-xs-12">
                                            <div class="blog-post-content">
                                                <h3><a href="@slugReplace">@item.Title</a></h3>
                                                <div class="author-detail">
                                                    @*<p><a href="#"><i class="icon-profile-male"></i> @item.Author</a></p>*@
                                                    <p><i class="icon-clock"></i> @item.PostedDatetime</p>
                                                    <p><a href="#"><i class="icon-chat"></i> @item.CommentCount comments</a></p>
                                                </div>
                                                <p>@item.Description</p>
                                                <a href="@slugReplace" class="btn-white btn-red">Read More</a>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-xs-4">
                                            <div class="blog-post-image">
                                                <img src="@item.ThumbImage" alt="img">
                                                <span><a href="#" class="tag tag-green">@item.SourceName</a></span>
                                                @*<span>
                                                    @if (item.Type == "video")
                                                    {
                                                        <a class="tag tag-green"> <i class="icon-camera"></i></a>
                                                    }
                                                    else if (item.Type == "Photo")
                                                    {
                                                        <a class="tag tag-blue"> <i class="icon-picture"></i></a>
                                                    }
                                                </span>*@
                                                <div class="image-overlay"></div>
                                            </div>
                                        </div>
                                        <div class="col-xs-8">
                                            <div class="blog-post-content">
                                                <h3><a href="@slugReplace">@item.Title</a></h3>
                                                <div class="author-detail">
                                                    @*<p><a href="#"><i class="icon-profile-male"></i> @item.Author</a></p>*@
                                                    <p><i class="icon-clock"></i> @item.PostedDatetime</p>
                                                    <p><a href="#"><i class="icon-chat"></i> @item.CommentCount comments</a></p>
                                                </div>
                                                <p>@item.Description</p>
                                                <a href="@slugReplace" class="btn-white btn-red">Read More</a>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    }
                }


                <div class="pagination">
                    <ul class="pagination">
                        <li><a href="#" class="active">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                    </ul>
                </div>
            </div>
            <div id="sidebar" class="col-md-4 col-sm-12">
                <div class="item-sidebar">
                    <div class="author sidebar-box">
                        <div class="sidebar-title">
                            <h3>Author</h3>
                        </div>
                        <div class="author-image">
                            <img src="images/profile1.jpg" alt="img">
                        </div>
                        <div class="author-content">
                            <h4>James Arthur</h4>
                            <p>Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus at leo dignissim congue.</p>
                            <ul class="header-social-links">
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="post-categories sidebar-box">
                        <div class="sidebar-title">
                            <h3>Categories</h3>
                        </div>
                        <ul>
                            <li><a href="#">Science</a></li>
                            <li><a href="#">Management</a></li>
                            <li><a href="#">Humanities</a></li>
                            <li><a href="#">Arts</a></li>
                            <li><a href="#">Biology</a></li>
                            <li><a href="#">Technology</a></li>
                        </ul>
                    </div>
                    <div class="recent-post clearfix sidebar-box">
                        <div class="sidebar-title">
                            <h3>Recent Posts</h3>
                        </div>
                        <div class="recent-item">
                            <div class="recent-image">
                                <img src="images/profile1.jpg" alt="img">
                            </div>
                            <div class="recent-content">
                                <a href="#" class="tag tag-blue">#News</a>
                                <h4><a href="#">10 Tips you should follow</a></h4>
                                <div class="author-detail">
                                    <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                                    <p><i class="icon-clock"></i> 12 May</p>
                                </div>
                            </div>
                        </div>
                        <div class="recent-item">
                            <div class="recent-image">
                                <img src="images/recent2.jpg" alt="img">
                            </div>
                            <div class="recent-content">
                                <a href="#" class="tag tag-gold">#News</a>
                                <h4><a href="#">Must have gadgets in life</a></h4>
                                <div class="author-detail">
                                    <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                                    <p><i class="icon-clock"></i> 12 May</p>
                                </div>
                            </div>
                        </div>
                        <div class="recent-item">
                            <div class="recent-image">
                                <img src="images/recent1.jpg" alt="img">
                            </div>
                            <div class="recent-content">
                                <a href="#" class="tag tag-green">#Health</a>
                                <h4><a href="#">Selena, The talk of town</a></h4>
                                <div class="author-detail">
                                    <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                                    <p><i class="icon-clock"></i> 12 May</p>
                                </div>
                            </div>
                        </div>
                        <div class="recent-item">
                            <div class="recent-image">
                                <img src="images/recent2.jpg" alt="img">
                            </div>
                            <div class="recent-content">
                                <a href="#" class="tag tag-blue">#News</a>
                                <h4><a href="#">Why Zlatan left United?</a></h4>
                                <div class="author-detail">
                                    <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                                    <p><i class="icon-clock"></i> 12 May</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ad1 sidebar-box">
                        <div class="sidebar-title">
                            <h3>Advertisement</h3>
                        </div>
                        <div class="ad1-image">
                            <img src="images/footer1.jpg" alt="img">
                        </div>
                    </div>
                    <div class="popular-post sidebar-box">
                        <div class="sidebar-title">
                            <h3>Popular Posts</h3>
                        </div>
                        <div class="popular-item">
                            <div class="popular-content">
                                <span class="item-no">01</span>
                                <h4><a href="#">7 reasons Hollywood doesn’t make romantic comedies anymore</a></h4>
                                <div class="author-detail">
                                    <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                                    <p><i class="icon-clock"></i> 12 May</p>
                                    <p><a href="#"><i class="icon-chat"></i> 3 comments</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="popular-item">
                            <div class="popular-content">
                                <span class="item-no">02</span>
                                <h4><a href="#">Watch: the 3 best performances of the 2018 VMAs</a></h4>
                                <div class="author-detail">
                                    <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                                    <p><i class="icon-clock"></i> 12 May</p>
                                    <p><a href="#"><i class="icon-chat"></i> 3 comments</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="popular-item">
                            <div class="popular-content">
                                <span class="item-no">03</span>
                                <h4><a href="#">Why conservatives love to hate Alexandria?</a></h4>
                                <div class="author-detail">
                                    <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                                    <p><i class="icon-clock"></i> 12 May</p>
                                    <p><a href="#"><i class="icon-chat"></i> 3 comments</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="popular-item">
                            <div class="popular-content">
                                <span class="item-no">04</span>
                                <h4><a href="#">10 Tips you should follow before eating street foods</a></h4>
                                <div class="author-detail">
                                    <p><a href="#"><i class="icon-profile-male"></i> John Doe</a></p>
                                    <p><i class="icon-clock"></i> 12 May</p>
                                    <p><a href="#"><i class="icon-chat"></i> 3 comments</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Content Ends -->
