@using AspNetCoreHero.Boilerplate.Web.Extensions
@using AspNetCoreHero.Boilerplate.Web.Models
@model IEnumerable<ArticleViewModel>
@{
    var dataGroup = Model.GroupBy(x => x.CategoryId);
}

<section class="categories" data-ref="container-1">
    <div class="container">
        <div class="section-title">
            <h2>@ViewData["Title"].ToString()</h2>
            <div class="category-box">
                <ul class="post-category">
                    @foreach (var item in dataGroup)
                    {
                        <li class="filter" data-filter=".@item.ToList().FirstOrDefault().ArticleCategory.Slug"><i class="icon-hotairballoon"></i> @item.ToList().FirstOrDefault().ArticleCategory.Title</li>
                    }
                </ul>
            </div>
        </div>
        @if (Model != null && Model.Count() > 0)
        {
            @foreach (var item in dataGroup)
            {
                var firstItem = item.Where(x => x.Image != null).FirstOrDefault();
                <div class="row mix @item.ToList().FirstOrDefault().ArticleCategory.Slug">
                    <div class="col-sm-6">
                        <div class="item-large">
                            <div class="item-large-image">
                                <img alt="@firstItem.Title" src="@firstItem.Image">
                                <div class="image-overlay"></div>
                            </div>
                            <div class="image-overlay"></div>
                            <div class="item-large-content">
                                <h3><a href="@firstItem.FullSlug">@firstItem.Title</a></h3>
                                <p>@firstItem.Description</p>
                                <div class="author-detail">
                                    <p><i class="icon-clock"></i> @firstItem.PostedDatetimeString</p>
                                    <p><a href="#"><i class="icon-chat"></i> @firstItem.CommentCount</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        @foreach (var subItem in item.Where(x => x.Id != firstItem.Id).Take(3))
                        {
                            <div class="item-small">
                                <div class="item-small-image">
                                    <img alt="@subItem.Title" src="@subItem.ThumbImage">
                                    <div class="image-overlay"></div>
                                </div>
                                <div class="item-small-content">
                                    <h4><a href="@subItem.FullSlug">@subItem.Title</a></h4>
                                    <div class="author-detail">
                                        <p><i class="icon-clock"></i> @subItem.PostedDatetimeString</p>
                                        <p><a href="#"><i class="icon-chat"></i> @subItem.CommentCount</a></p>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            }
        }

    </div>
</section>