@using AspNetCoreHero.Boilerplate.Web.Models
@model IEnumerable<ArticleViewModel>

@foreach (var item in Model)
{
    <div class="blog-post">
        <div class="post-outer">
            <div class="row">
                @if (item.ThumbImage == null)
                {
                    <div class="col-xs-12">
                        <div class="blog-post-content">
                            <h3><a href="@item.FullSlug">@item.Title</a></h3>
                            <div class="author-detail">
                                @*<p><a href="#"><i class="icon-profile-male"></i> @item.Author</a></p>*@
                                <p><i class="icon-clock"></i> @item.PostedDatetime</p>
                                <p><a href="#"><i class="icon-chat"></i> @item.CommentCount comments</a></p>
                            </div>
                            <p>@item.Description</p>
                            <a href="@item.FullSlug" class="btn-white btn-red">Đọc tiếp</a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-xs-4">
                        <div class="blog-post-image">
                            <img src="@item.ThumbImage" alt="img">
                            <span><a href="#" class="tag tag-green">@item.SourceName</a></span>
                            @*<span>
                                    @if (item.Type == "video")
                                    {
                                        <a class="tag tag-green"> <i class="icon-camera"></i></a>
                                    }
                                    else if (item.Type == "Photo")
                                    {
                                        <a class="tag tag-blue"> <i class="icon-picture"></i></a>
                                    }
                                </span>*@
                            <div class="image-overlay"></div>
                        </div>
                    </div>
                    <div class="col-xs-8">
                        <div class="blog-post-content">
                            <h3><a href="@item.FullSlug">@item.Title</a></h3>
                            <div class="author-detail">
                                @*<p><a href="#"><i class="icon-profile-male"></i> @item.Author</a></p>*@
                                <p><i class="icon-clock"></i> @item.PostedDatetime</p>
                                <p><a href="#"><i class="icon-chat"></i> @item.CommentCount comments</a></p>
                            </div>
                            <p>@item.Description</p>
                            <a href="@item.FullSlug" class="btn-white btn-red">Đọc tiếp</a>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
}
